
@{
    ViewBag.Title = "SinResultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">SinResultados</h2>
<div class="text-center">
    <img src="~/Imagenes/sad2.png" class="img-rounded" alt="triste" />

</div>
