
@{
    ViewBag.Title = "NoActivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center">Esta cuenta se encuentra baneada/suspendida</h2>
<div class="text-center">
    <img src="~/Imagenes/sad2.png" class="img-rounded" alt="triste" />
</div>
